/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* -----------------------------------
    First Section; Purple Backgroud 
 ------------------------------------*/
.first-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    margin-top: 0;
    color: white;
}
.first-section h1{
    font-size: 64px;
    width: 485px;
    height: 230px;
}
a{
    display: inline-block;
    background-color: #E02C6D;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 10px 24px 10px 24px;
    font-size: 16px;
}
.fas.fa-arrow-right{
    font-size: 16px;
}
.first-section img{
    width: 556px;
}
/* For Transition */
#live-jolbe{
    border: 3px solid #2D25A0; /* invisible border */
}
.first-section:hover #live-jolbe{
    border: 3px solid rgb(44, 163, 236);
    border-radius: 5px;
    transition: border 0.5s ease-in-out;
}
#boro-hobe:hover{
    transform: scale(1.2);
    transition: transform 0.8s;
}

/* -------------------
    Players section 
 --------------------*/
 .players-section{
     padding: 70px 10%;
 }
 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 27px;
     grid-column-gap: 30px;
 }
 .player{
     padding: 15px;
     box-shadow: 5px 5px 20px lightgray;
     cursor: grab;
 }
 .player-pic img{
     max-width: 100%;
 }
 .player .player-detail{
    width: 100%;
 }
 .player .player-name{
     font-size: 28px;
 }
 .player .player-info{
     font-size: 16px;
     font-weight: 400;
     color: #6C6C6C;
 }

 /* ---------------------
    Optional Section 
-----------------------*/
.optional-section{
    padding: 100px 15%;
}
.highlights{
    display: flex;
    align-items: center;
    column-gap: 70px;
}
.highlights-left .highlights-title{
    font-size: 48px;
    font-weight: bold;
}
.highlights-left .highlights-text{
    color: #6C6C6C;;
}

.highlights-right img{
    width: 100%;
}

/* ------------------
    Bonus Section 
------------------- */
.poll-box{
    box-shadow: 10px 10px 40px gray;
    margin: 70px 10% 70px 10%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    border-radius: 20px;
}
.poll-box h2{
    text-align: center;
    font-size: 56px;
}
.main-div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
}
.main-div img{
    border-radius: 10px;
}
.messi{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    cursor: grab;
}
.messi img{
    display: block;
    width: 450px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ronaldo{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    cursor: grab;
}
.ronaldo img{
    display: block;
    width: 450px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* ------------------
    Footer Section 
------------------- */
.logo-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 5%;
}
.logo-copyright img{
    width: 485px;
}
.far.fa-copyright{
    font-size: 14px;
}
.icons{
    font-size: 32px;
    color: #969BAB;
}

/* ------------------
    Media Queries
------------------ */
/* 1. Mobile Devices */
@media only screen and (max-width: 688px){
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2D25A0;
        width: 100%;
        height: 770px;
    }
    .title-box{
        padding: 10% 10%;
        margin: 0;
    }
   .title-box h1{
       font-size: 42px;
       width: 100%;
       margin-bottom: 20px;
       height: 120px;
   }
   .banner img{
       max-width: 100%;
   }
   .players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    }
    
    .highlights{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 70px;
    }
    .logo-copyright{
        margin-bottom: 80px;
    }
    .logo-copyright img{
        max-width: 80%;
    }
    .logo-copyright span{
        font-size: 1em;
    }
    .poll-section{
        display: none;
    }
}
/* 2. Tablets */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #2D25A0;
        height: 750px;
    }
    .title{
        padding: 10% 10% 0% 10%;
    }
    .title-box{
        margin: 0;
        padding: 0;
    }
    .title-box a{
        margin: 0;
    }
   .title-box h1{
       font-size: 50px;
       width: 100%;
       margin-top: 8%;
       margin-bottom: 0;
       height: 150px;
   }
   .banner img{
       max-width: 80%;
       margin-left: 90px;
   }
   .players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    }
   /* Transition */
   #boro-hobe:hover{
    transform: scale(1.08);
    transition: transform 0.8s;
    }
    .poll-section{
        display: none;
    }
}